<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<!--class Container : cho phep hien thi noi dung o giua man hinh ma ko trai het chieu rong man hinh
    segment cho phep boc khung form theo gioi han cua Container-->
<body>
    <div class="ui segment container" style="margin-top: 50px;">
        <form class="ui form">
            <div class="field">
                <div class="ui icon input">
                    <input type="text" placeholder =" Search Picture">
                    <i class="search icon"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="ui divider"></div>
    <div class="ui four column grid container">
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="images/photo1" alt="Photo">
                </div>
            </div>
        </div>

    </div>


</body>
</html>